:root {
    --primary-color: #19173C;
    --secondary-color: #fff;
    --text-color: #000;
    --link-color: #9CF8F8;
  
    --font-size-small: 14px;
    --font-size-medium: 20px;
    --font-size-big: 36px;
  
    font-family: 'Antic Didone', serif;
    color: #fff;
  }

  .link{
    color: var(--link-color);
  }
  .footer {
    font-size: var(--font-size-small);
    max-height: 20%;
    padding: 1%;
    justify-content: center;
    background-color: var(--primary-color);
    .footer-bottom{
      align-items: center;
      display: flex;
      padding-left: 35%;
      padding-right: 35%;
    }
    .container{
      display: flex;
      align-items: center;
      .footer-column{
        width: calc(100%/3);
      }
    }
  }
  
  /* Dispositivos móviles */
  @media only screen and (max-width: 860px) {
  }
  